* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --box-bg: rgba(255, 255, 255, 0.40);
    --box-outline: #fff;
    --white: #fff;
    --cream: #FFF4E6;
    --lighterPink: #F8B9C8;
    --lightPink: #FBC2C8;
    --darkPink: #FB8FA9;
    --darkestPink: #A01334;
    --darkRed: #630401;
    --lightPurple: #E5AFE9;
    --purple: #986B9B;
    --brightDarkPurple: #712676;
    --lighterBrown: #F4CAA3;
    --lightBrown: #BE9B7B;
    --redBrown: #854442;
    --darkBrown: #4D2D1E;
    --darkestBrown: #3C2F2F;
}

html,
body {
    height: 100%;
    font-family: uniform;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--lightPink);
}

#box {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 55px 25px 25px 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.64);
}

div #progress {
    background-color: var(--darkestPink);
}